# Dependencies
node_modules/

# Build output
_site/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
.eleventy-cache/

